* {
    margin: 0;
}

.top-color-box {
    /* background-color: #EF476F; */
    background-color: #A8763E;
    width: 100%;
    height: 3em;
}

.wrapper {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F8FFE5; */
    background-color: #A8763E;
}

.line-between-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.line-between-section-box {
    background-color: #2B2118;
    height: 0.15em;
    width: 100%;
}

.line-between-section-box-contact {
    background-color: #A8763E;
    height: 0.15em;
    width: 100%;
}

.text-h3 {
    font-family: 'Comfortaa', cursive;
    /* color: #EF476F; */
    color: #F7F3E3;
    text-transform: uppercase;
    font-size: 2em;
    padding: 1.5em;
}

/* (nav-bar) */
.section-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 6em;
}
.nav-bar-flex {
    display: flex;
    flex-direction: row;  
    font-family: 'Comfortaa', cursive;
    /* color: #06D6A0; */
    color: #545677;
    
}

.nav-item {
    padding: 1em;
    font-size: 1.3em;
    text-decoration: none;
    /* color: #06D6A0; */
    color: #F7F3E3;
}

/* (section-profile-picture) */
.code-word {
    font-size: 1.3em;
}

#warpper-h1-photo {
    display: flex;            
    flex-direction: column;   
    position: relative;
}

.center-aligned-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-h1-h2 {
    position: absolute;
    top: 50%;
    /* color: #EF476F; */
    color: #F7F3E3;
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;


}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3em;
}

.profile-image {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    height: 35em;
    width: 35em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.40); */

}

/* (section-about) */
.section-about {
    width: 70%;
}

.resume-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4em;
    padding-bottom: 0.3em;
}

.resume-text {
    border: 0.15em solid #F7F3E3;
    border-radius: 20%;
    padding: 0.4em 2em;
}

.about-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.6em;
}

.line-about-card {
    font-size: 3em; 
    color: #F7F3E3;  
}

.about-p {
    padding: 1em 2em 0.5em 2em;
    line-height: 1.6;
    text-align: justify;
    color: #2B2118;
}

.about-p-title {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 0.6em;
}


/* (section-projects) */
.section-carousel {
    width: 70%;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.projects-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.projects-card {
    position: relative;
    
}

.projects-item {
    height: 17em;
    width: 17em;
    margin: 0em 2em 3em 2em;
    border-radius: 50%;
    /* border: 2px solid #F7F3E3; */
    opacity: 1;
    display: block;
    /* width: 100%;
    height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.projects-card:hover .projects-item {
  opacity: 0.1;
}

.projects-card:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: black;
  font-size: 23px;
  padding: 1px;
  text-decoration: none;
  font-weight: bold;
}

.description {
  font-size: 20px;
  color: #2B2118;
}

.projects-in-progress {
  opacity: 0.2;
}

/* (section-contact) */
.bottom-color-block {
    /* background-color: #EF476F; */
    background-color: #F7F3E3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    

}
.section-contact {
    width: 70%;
}
.contact-color {
    /* color: #F8FFE5; */
    color: #2B2118;
}

.logos {
    height: 2.3em;
    width: 2.3em;
    padding: 1em;
}

.GH-logo {
    height: 3em;
    width: 3em;
    padding: 1em;
}

.contact-mail {
    color: #2B2118;
    margin-top: 2em;
}

/* (footer)  */
.section-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EF476F; */
    background-color: #F7F3E3;
    width: 100%;
}

.footer {
    /* color: #F8FFE5; */
    color: #2B2118;
    padding: 1em;
    font-size: 0.7em;
    
}

/* ------button to top-------- */

 #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    background-color: transparent; 
    opacity: 0.5;
    outline: none; /* Remove outline */
    /*background-color: red; /* Set a background color */
    color: 2B2118;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 3em;
    transform: rotate(90deg);
    font-family: 'Comfortaa', cursive;
  }
  
  #myBtn:hover {
    color:#2B2118;
    opacity: 1;
  }